<div class="hero-unit">
	<h1>欢迎来到Microblog</h1>
	<p>Microblog是一个基于Node.js的微博系统</p>
	<p>
		<a href="/login" class="btn btn-primary btn-large">登录</a>
		<a href="/reg" class="btn btn-large">注册</a>
	</p>
</div>


<div class="row">
	<div class="span4">
		<h2></h2>
	</div>
</div>
<div class="row">
	<div class="span4">
		<h2></h2>
	</div>
</div>
<div class="row">
	<div class="span4">
		<h2></h2>
	</div>
</div>